body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f7f6;
  color: #333;
  margin: 0;
  padding: 0;
}

.bg-pattern {
  background-color: #f0f0f0;
  min-height: 100vh;
  padding-bottom: 50px;
}

.main-container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.product-img {
  height: 200px;
  object-fit: cover;
}

.footer {
  background-color: #343a40;
  color: white;
  padding: 10px 0;
}

.nav-link {
  color: #ffffff;
  margin-right: 15px;
}

.nav-link.active {
  font-weight: bold;
  color: #ffc107;
}

.carousel {
  margin-bottom: 40px;
}

.carousel-item img {
  max-height: 400px;
}
.btn {
  cursor: pointer;
}

.btn-ver-mas {
  background-color: #f76f15;
  border-color:#0056b3;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.btn-ver-mas:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}
h1 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
}
h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 15px;
}
p {
  font-size: 1.1rem;
  color: #666;
}

a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #0056b3;
}
.navbar {
  justify-content: center;
}
