/* src/index.css */
@import '~bootstrap/dist/css/bootstrap.min.css';

body {
  font-family: 'Arial', sans-serif;
  margin: 5px;
  padding: 5px;
  background-color: lightseagreen;
  background-size: cover;
  background-repeat: no-repeat;
}
